body{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
    padding: 0%;
}

#container{
    width: 70%;
    padding: auto;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#container h1 {
    font-size: 20px;
}
#cabecera{
    background: aqua;
    box-shadow: 0px 5px 30px 0px rgba(45, 30,50, 0.75);
    color: crimson;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
    font-weight: bold;
    padding: 0%;
}